.ld-d-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


.ld-flex-center {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.ld-flex-vertical-center {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ld-flex-direction-column {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.ld-flex-direction-row {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.ld-flex-horizontal-center {
    -webkit-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.ld-m-4 {
    margin-left: 4px;
}

.ld-background-base {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding-bottom: 0;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.ld-pos-rel {
    position: relative;
}

.ld-button-base {
    margin: 0;
    border: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-align: center;
    cursor: pointer;
    display: block;
    background: none;
    type: button;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: auto;
    position: relative;
    padding: 16px 20px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    vertical-align: middle;
}

.ld-button-base:focus {
    outline: none;
}

.ld-button-base:disabled {
    cursor: default;
    pointer-events: none;
}

.page-container {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 64px 16px 32px;
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 576px) {
    .page-container {
        padding-bottom: 64px;
    }
}

.page-inner-container {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 680px;
}


.none {
    display: block;
    object-fit: none;
    object-position: initial;
    -webkit-filter: none;
    filter: none;
}

.ld-top-minus-92 {
    display: block;
    position: relative;
    top: -92px;
    visibility: hidden;
}

.ld-width-height-auto {
    width: auto;
    height: auto;
}

.ld-profile-image {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    display: block;
    object-fit: contain;
    object-position: initial;
    -webkit-filter: none;
    filter: none;
}

.ld-mb-16 {
    margin-bottom: 16px;
}

.ld-mt-32 {
    margin-top: 32px;
}

.ld-mlr-12 {
    margin-left: 12px;
    margin-right: 12px;
    max-width: 100%;
}

.ld-link-title {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}

@media screen and (min-width: 576px) {
    .ld-link-title {
        font-size: 16px;
    }
}

.hyphens-none {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
}


.ld-description-container {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 4px;
}

.ld-icon {
    left: 4px;
    border-radius: 12px;
    width: 48px;
    height: 48px;
}

.ld-description-container > h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 500;
}


@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}


@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes topwave {
    from {
        -webkit-mask-position: 0 top;
        mask-position: 0 top;
    }
    to {
        -webkit-mask-position: 680px top;
        mask-position: 680px top;
    }
}


@keyframes topwave {
    from {
        -webkit-mask-position: 0 top;
        mask-position: 0 top;
    }
    to {
        -webkit-mask-position: 680px top;
        mask-position: 680px top;
    }
}


@-webkit-keyframes bottomwave {
    from {
        -webkit-mask-position: 0 top;
        mask-position: 0 top;
    }
    to {
        -webkit-mask-position: -680px top;
        mask-position: -680px top;
    }
}


@keyframes bottomwave {
    from {
        -webkit-mask-position: 0 top;
        mask-position: 0 top;
    }
    to {
        -webkit-mask-position: -680px top;
        mask-position: -680px top;
    }
}



@-webkit-keyframes fadeBoxShadowInAndOut {
    0%,
    100% {
        box-shadow: inherit;
    }
    15%,
    85% {
        box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
    }
}


@keyframes fadeBoxShadowInAndOut {
    0%,
    100% {
        box-shadow: inherit;
    }
    15%,
    85% {
        box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
    }
}


.ld-custom-name {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.ld-custom-name:visited {
    color: black;
}


.ld-custom-button-container {
    position: relative;
    height: auto;
    border-radius: 14px;
    z-index: 0;
    overflow: hidden;
    margin-bottom: 16px;
    -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    -webkit-transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    border: none;
    background-color: #2665d6;
    color: #fff;
    -webkit-transition: -webkit-transform 0.15s cubic-bezier(0, 0.2, 0.5, 3);
    -webkit-transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3);
    transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3);
}

.ld-custom-button-container:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

.ld-custom-button {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    white-space: normal;
    background: none;
    color: inherit;
    -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), -webkit-transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    -webkit-transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99), transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99),
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
    padding-left: 44px;
    padding-right: 44px;
    padding-left: 66px;
    padding-right: 66px;
    min-height: 56px;
}

.ld-custom-background-layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
}

.icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
    overflow: hidden;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: currentColor;
    -webkit-mask-size: 100%;
    mask-size: 100%;
    left: 8px;
    border-radius: 12px;
    width: 48px;
    height: 48px;
}
