on:
  pull_request:
  push:

jobs:
  validations:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: npm install
      - name: Validate Restricted Usernames
        run: node ci/check-restricted-usernames.js
      - name: Validate Registry
        run: node ci/check-registry.js
      - name: Validate Early Adopters
        run: node ci/check-example-pages.js
